<doctype html>
</html>
<head>
<title>Update Equipment - Equipment Caliberation</title>
<link rel="stylesheet" href="/static/main.css">
 <style>
button{
border:none;
height:50px;
width:70px;
color:#fff;
font-size:18px;
border-radius:15px
}
button:hover{
cursor:pointer;
background:#DAA520;
color:#000}
.back{
background-color:#4CAF50;}
</style>
</head>
<body class="bg-logo">
<br><br>
<hr>
<center><p><pre  style="color:#DAA520;font-family:Verdana, sans-serif;font-size:30px;font-weight: 600;">E Q U I P M E N T   C A L I B E R A T I O N</pre></p></center>
<hr>
<center><h3>Update Equipment </h3></center>

{% from "_formhelpers.html" import render_field %}

<form method=post>
    <div style="width: 100%; display: table;">
    <div style="display: table-row">
        <div style="width: 50%; display: table-cell;">  <dl>
	{{ render_field(form.itemcode) }}
        {{ render_field(form.serialno) }}
        {{ render_field(form.name) }}
        {{ render_field(form.rangee) }}
        {{ render_field(form.lc) }}</dl> </div>
        <div style="display: table-cell;"> <dl>{{ render_field(form.freq) }}
        {{ render_field(form.lastdate) }}
        {{ render_field(form.duration) }}
        {{ render_field(form.accuracy) }}
        {{ render_field(form.place) }}
	<p><input type=submit value=Submit></p>
       </dl></div>
    </div>
    </div> 
    
</form>


<center><a href="{{ url_for('.index') }}"><button class="back" type="button">Back</button></a></center>
</body>
</html>
